<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendSmsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.50.150:8003/SendSmsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendSmsServiceSoap"
                contract="MessageServiceReference.SendSmsServiceSoap" name="SendSmsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>