<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net35" requireReinstallation="true" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net35" requireReinstallation="true" />
  <package id="Common.Logging.Log4Net1215" version="3.3.1" targetFramework="net35" requireReinstallation="true" />
  <package id="KYCX.Logging" version="1.2.1" targetFramework="net35" />
  <package id="KYCX.NPOI" version="2.2.1" targetFramework="net35" requireReinstallation="true" />
  <package id="log4net" version="2.0.5" targetFramework="net35" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>